# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.g.dart

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/*.keystore
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/version.json

# Env / secrets
.env
*.env.local

# OS
.DS_Store
Thumbs.db
